
/* general formats for all pages */
body
{
background-color: #33313b;
color: #e6f5ff;
font-size: 40px;

}

.alignleft
{
    padding-left: 10px;
    float: left;
}

.alignright
{
    padding-right: 10px;
    float: right;
}


/* general formats for all tables */
table
{
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

/* general formats for all table rows */
tr
{
    text-align: center;
    border: 3px solid #33313b; 
}

/* general formats for all table headers */
th
{
    background-color: #b34c69;
    /* border: 1px solid #33313b;   */
    text-align: center;
}

/* formats for all table row, separated by
 whether or not it's odd or even  */
tr:nth-child(even) {background: #3c4f65}
tr:nth-child(odd) {background: #204a7a}




tr td:nth-child(2),
tr td:nth-child(6)
{
    font-style: italic;
    font-size: 25px;
}

tr:nth-child(10n)
{
    border: 12px solid #33313b;
    font-style: bold;
}





/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    color: #e6f5ff;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #e6f5ff;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #b34c69;
    color: white;
  }








/* #cssTable th
{
    width: 25px;
    text-align: center; 
    
} */

/* #cssTable td 
{
    width: 25px;
    text-align: center; 
    vertical-align: middle;
    background-color: #300A24;


} */
