
/* general formats for all pages */
body
{
background-color: #33313b;
color: #e6f5ff;
font-size: 28px;
}

.alignleft
{
    padding-left: 10px;
    float: left;
}

.alignright
{
    padding-right: 10px;
    float: right;
}


/* general formats for all tables */
table
{
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    width: max 100%;
    text-align: center;
}

/* general formats for all table rows */
td
{
    text-align: center;
    /* border: 3px solid #33313b;  */
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

/* general formats for all table headers */
th
{
    background-color: #b34c69;
    text-align: center;
}

/* formats for all table row, separated by
 whether or not it's odd or even  */

tr:nth-child(4n)
{
    background: #3c4f65;
    font-size: 20px;
    font-style: italic;

}
tr:nth-child(4n-1) 
{background: #3c4f65}


tr:nth-child(4n-2)
{
    background: #204a7a;
    font-size: 20px;
    font-style: italic;
    
}
tr:nth-child(4n-3) 
{background: #204a7a}



tr td:nth-child(1)
{
    text-align: left;
    column-width: 450px;
}

tr td:nth-child(5)
{
    text-align: right;
    column-width: 450px;
}

tr td:nth-child(3)
{
    font-size: 24px;
}

tr:nth-child(19),
tr:nth-child(20)
{
    font-weight: bold;
    background: #33313b;
}








/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    color: #e6f5ff;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    color: #e6f5ff;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #b34c69;
    color: white;
  }

